DATABASE_URL=postgresql://postgres:password@localhost:5432/db_name


JWT_SECRET=your-super-secret-jwt-key-change-this
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-this
ACCESS_TOKEN_EXPIRY=3d
REFRESH_TOKEN_EXPIRY=7d
APP_PORT=6000